<div class="about-page">
  <div class="page-header">
    <div class="container">
      <h1 class="page-title">About</h1>
    </div>
  </div>
  
  <div class="container py-4">
    <div class="content-section">
      <h2 class="section-title">About Our Team</h2>
      <div class="content-text">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ullam, tempore explicabo praesentium repellat commodi cumque nihil est modi ipsam itaque doloremque, assumenda dolorum veniam sequi illo corporis excepturi soluta eligendi molestias, et quae dolore odit doloribus? Corrupti inventore beatae odio sint reiciendis iusto debitis repellendus magni illo officiis error dicta dignissimos laboriosam, tenetur ab impedit, consectetur voluptatum omnis quibusdam rem deserunt quidem neque excepturi recusandae ex incidunt quis iste?</p>
        <p>Totam esse tempore aliquam libero sequi, quibusdam distinctio voluptates, modi dolores vel a? Cumque rem vel libero natus distinctio fugiat consectetur aperiam voluptatem placeat cum ab unde recusandae vitae dolores, architecto laudantium laboriosam ducimus, blanditiis maxime molestiae dolor eligendi, consequatur optio.</p>
      </div>
    </div>
  </div>
</div>
